Host nepal5
    HostName localhost
    Port 22225

Host nepal6
    HostName localhost
    Port 22226

Host 101.6.97.145
    Port 22222

Host 138.121.201.58
    Port 22222

Host thu-v6
    User yanyu
    HostName 2402:f000:6:6003:161a:b9db:dbba:5f67
    Port 22222

Host *
   ControlMaster auto
   ControlPath ~/.ssh/master-socket/%r@%h:%p
   ControlPersist 10m
