# mkdir -p ~/.ssh/controlmasters
# ln -s ~/observatory_box_scripts/ssh_config ~/.ssh/config

Host nepal6
    User pi
    HostName localhost
    Port 22224

Host *
    ControlMaster auto
    ControlPath ~/.ssh/controlmasters/%r@%h:%p
    ControlPersist 50m
